# 构建产物
build/
out/
cmake-build-*/
*.user
*.autosave
CMakeUserPresets.json

# IDE
.vs/
.vscode/
.idea/
*.suo
*.ncb

# 系统
Thumbs.db
Desktop.ini
.DS_Store

# 日志与临时
*.log
*.tmp
*.pdb
*.ilk
*.obj
*.exe
!tools/*.exe
